<div class="chat-room">
  <div class="users-list">
    <h3>Logged-in Users</h3>
    <ul>
      <li *ngFor="let user of loggedInUsers">{{ user }}</li>
    </ul>
  </div>
  <div class="chat-window">
    <div class="messages">
    </div>
    <div class="input-area">
      <select [(ngModel)]="selectedUser">
        <option *ngFor="let user of loggedInUsers" [value]="user">{{ user }}</option>
      </select>
      <input type="text" placeholder="Type your message..." [(ngModel)]="newMessage" />
      <form (ngSubmit)="sendMessage(newMessage)">
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
