<div class="chat-room">
  <div class="users-list">
    <h3>Logged-in Users</h3>
    <ul>
      <li *ngFor="let user of loggedInUsers">{{ user }}</li>
    </ul>
  </div>
  <div class="chat-window">
    <div class="messages">
      <div *ngFor="let message of messages">
        {{ message }}
      </div>
    </div>
    <div class="input-area">
      <select [(ngModel)]="selectedUser">
        <option *ngFor="let user of loggedInUsers" [value]="user">{{ user }}</option>
      </select>
      <input type="text" placeholder="Type your message..." [(ngModel)]="newMessage" />
      <button type="submit" (click)="sendMessage(newMessage)">Send</button>
    </div>
  </div>
</div>